
p{
    font-family: 'Times New Roman', Times, serif;
}
header{
    margin-bottom: 100px;
}
h1, h3{
    background-color: rgb(158, 155, 155);
    color:  #005677;
}
h1{
    text-align: center;
    line-height: 29.64px;
    font-weight: 700; /*no produce ningun cambio*/
}   
span {
    color: white;
}
footer{
    background-color: #005677;
    height: 80px;
}
.principal{
    margin-left: 900px;
}
p{
    text-align: center;
    color: white;
}
img{
    margin-left: 20px;
    margin-top: 30px;
}
.espacio{
    text-indent: 80px;
}